/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212; /* Spotify background color */
  color: #ffffff;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #1db954; /* Spotify green */
  padding: 10px;
  display: flex;
  justify-content: center;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transform */
}

.navbar-link:hover {
  color: #e0e0e0; 
  transform: translateY(-3px); 
  text-decoration: underline; 
}

.login, .top-songs, .top-artists, .top-albums {
  text-align: center;
  margin: 20px;
}

.login-button {
  background-color: #1db954;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* General list styling */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



/* Additional styling for specific sections */
.search, .playlist-search {
  text-align: center;
  margin: 20px;
}

.search input, .playlist-search input {
  padding: 10px;
  font-size: 16px;
}

.search button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #1db954;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search button:hover {
  background-color: #1ed760;
}

.search ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.search li {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}

.search img {
  border-radius: 5px;
  margin-right: 10px;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 20px; /* Space between items */
  padding: 20px;
}

.item {
  background: #1e1e1e; /* Background for each item */
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distributes space evenly between elements */
}

.item img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.item h3 {
  margin: 10px 0 5px;
  font-size: 16px;
}

.item p {
  margin: 0;
  font-size: 14px;
  color: #b3b3b3;
}

.item button {
  background-color: #1db954;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.item button:hover {
  background-color: #1ed760;
}

.button-group {
  display: flex;
  gap: 10px; /* Space between buttons */
  justify-content: center;
  margin-top: 10px;
}